svg {
  display: block;
  margin: 50px auto;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.figure {
  stroke-width: 5px;
}

.animate {
  animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
  0% {
    stroke: #ff5733;
    fill: #33c1ff;
  }
  100% {
    stroke: #4caf50;
    fill: #f1c40f;
  }
}