html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header{
    background: #2c3e50;
    border: 1px black solid;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 .75rem 6.25rem 0.75rem;
}

.block-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-toggle {
    font-size: 1.75rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

.menu li {
    position: relative;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: .9375rem .625rem;
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #34495e;
    min-width: 9.375rem;
}

.submenu li a {
    padding: .625rem;
}

.menu li:hover .submenu {
    display: block;
}

.block-info{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 .75rem ;
    gap: .625rem;
}

.box{
    height: 35vh;
    border: .0625rem black solid;
    background-color: rgb(196, 196, 196);
}

.block-left, .block-rigth{
    width: 25%;
}

.block-main{
    width: 50%;

}

.d-block{
    width: 100%;
    height: 35vh;
}

.box.block-left {
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.block-rigth > span{
    font-size: 2rem;
}

footer{
    height: 10vh;
    background-color: aquamarine;
    margin: 6.25rem .75rem 0;
}

footer > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


/* Адаптивність */
@media (max-width: 768px) {


    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #2c3e50;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        width: 100%;
    }

    .menu li:hover .submenu {
        position: static;
        display: block;
    }

    .submenu {
        background: #3b5168;
    }

    .submenu li a {
        padding-left: 30px;
    }

    .block-info{
        flex-wrap: wrap;
        gap: 50px;
    }

    .block-left, .block-rigth {
        width: 40%;
    }
}
